<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="nav-grid">
            <!-- Logo
            <div>
                <a href="#" class="home-link"><img src="/assets/StereoHopheads_logohorizontal_web.png" class="me-4 header-logo" alt="Stereo Hopheads" title="Stereo Hopheads"></a>
            </div>
            -->
            <div class="navbar-container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bio" routerLinkActive="active">Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shows" routerLinkActive="active">Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/press-kit" routerLinkActive="active">Press Kit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
