<h1 class="banner-header">Calico Dogs | Press Kit</h1>
<div id="home" class="epk-banner"></div>
<div class="epk-container">
    <div class="epk-content">
        <section id="music" class="epk-scroll-margin">
            <h2>Music</h2>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6CdxktD6g44IUVDowcc9q8?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5OlXqyMS9o6mAlqkFRvbMn?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6QeBNJvfnFhPztk7bRinJW?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/46wqOboiH0gM7AhpNhvgmb?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>
        <hr>
        <section id="bio" class="epk-scroll-margin"> 
            <h2>Bio</h2>
            <app-bio></app-bio>
        </section>
        <hr>
        <section id="shows" class="epk-scroll-margin">
            <h2>Upcoming Shows</h2>
            <app-shows></app-shows>
        </section>
        <hr>
        <section id="media" class="epk-scroll-margin">
            <h2>Photos</h2>
            <p>
                <a href="/assets/img/gallery/calicodogs_hi-res_20240907.zip">Download hi-res images</a>
            </p>
            GALLERY GOES HERE DUMMY
        </section>
        <hr>
        <section id="contact" class="epk-scroll-margin">
            <h2>Contact</h2>
            <app-contact></app-contact>
        </section>
    </div>
</div>
