@if (shows.length) {
  <div>
    @for (show of shows; track show; let i = $index) {
      <div class="show-list-item">
        <div class="show-grid-container">
          <div class="show-image">
            <img [src]="show.imageUrl" />
          </div>
          <div class="show-detail">
            <strong>{{show.venue}}</strong><br>
            @if (show.location) {
              <span style="white-space: pre-line">{{show.location}}<br></span>
            }
            @if (show.supporting) {
              <span>Supporting: {{show.supporting}}<br></span>
            }
            @if (show.otherBands) {
              <span>With: {{show.otherBands}}<br></span>
            }
            <span>{{show.date | date: 'MM/dd/yyyy'}} | {{show.startTime}}</span><br>
            @if (show.doorTime) {
              <span>Doors open at {{show.doorTime}}<br></span>
            }
            @if (show.ticketLink) {
              <span>Tickets: <a [href]="show.ticketLink" target="_blank">{{show.ticketLink}}</a><br></span>
            }
          </div>
        </div>
        @if (i !== shows.length - 1) {
          <hr class="show-divider">
        }
      </div>
    }
  </div>
}
@else {
  <p>More shows to be announced soon!</p>
}

