<div>
  <app-nav></app-nav>
  <app-banner *ngIf="currentRoute !== '/press-kit'"></app-banner>
  <div role="main" [ngClass]="{'main': currentRoute !== '/press-kit', 'epk': currentRoute === '/press-kit' }">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p>&copy; {{ currentYear }} Calico Dogs. All Rights Reserved.</p>
    <!-- Socials
    <a href="https://www.facebook.com/stereohopheads/" target="_blank">
      <img class="social-logo" src="/assets/f_logo_RGB-Blue_58.png">
    </a>
    -->
  </footer>
</div>
