<footer>
  <div class="logos">
    <a href="https://instagr.am/calicodogs.pgh" target="_blank">
      <img class="social-logo square" src="/assets/instagram.png" alt="facebook logo"> 
    </a>
    <a href="https://www.facebook.com/profile.php?id=61578600872262" target="_blank">
      <img class="social-logo square" src="/assets/facebook.png" alt="instagram logo"> 
    </a>
    <a href="https://youtube.com/@calicodogs?si=1iqV0i5aWD5YKn9L" target="_blank">
      <img class="social-logo" src="/assets/youtube.png" alt="youtube logo"> 
    </a>
  </div>
  <p>&copy; {{ currentYear }} Calico Dogs. All Rights Reserved.</p>
</footer>
