@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.banner {
    background-size: 100% auto !important;
    display: inline-flex;
    height: auto;
    min-height: 300px;
    color: white;
    width: 100%;
}

@include media-breakpoint-down(sm) { 
    .banner {
        min-height: 200px;
    }
}

.banner-header {
    color: white;
    font-size: 4rem;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    width: 100%;

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}
